* {
  padding: 0;
  margin: o;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  touch-action: none;
}

.canvas1 {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 500px;
  border: 1px solid blue;
  max-width: 100%;
  max-height: 100%;
  touch-action: none;
}
.canvasWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 620px;
  text-align: center;
  max-width: 100%;
  max-height: 100;
  display: flex;
  flex-direction: column;
}
p {
  position: absolute;
  color: white;
  top: 40px;
  left: 40%;
}
.quizWrapper {
  width: 310px;
  height: 620px;
  background-color: rgb(6, 103, 135);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 110px;
  touch-action: none;
}
.quizCard {
  font-size: 100px;
  width: 250px;
  height: 120px;
  background-color: blue;
  border-radius: 20px;
  border: 3px yellow solid;
  box-shadow: 3px 3px 3px black;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  touch-action: none;
}
.title {
  position: absolute;
  top: 10px;
  margin-bottom: 20px;
}
.quizScore {
  position: absolute;
  font-size: 16px;
  top: 120px;
  left: 35%;
}
.totalScore {
  position: absolute;
  top: 80px;
  left: 35%;
}
.categoryDisplay {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 40px;
  left: 25%;
}
.inactive {
  display: none;
}
.active {
  display: flex;
}
.correctAnswer {
  background-color: green;
}
.wrongAnswer {
  background-color: red;
}
.trueBtn {
  background-color: green;
  margin-right: 10px;
}
.falseBtn {
  background-color: red;
}
button {
  width: 80px;
  font-size: 15px;
  color: white;
  padding: 2px 5px;
  border-radius: 10px;
  outline: none;
  border: white 1px solid;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
  touch-action: none;
}
button:hover {
  box-shadow: inset 2px 2px 2px black;
}
.wallBtn {
  position: absolute;
  width: 150px;
  bottom: 15px;
  background-color: green;
  outline: none;
  border: none;
}
.backToQuizBtn {
  position: absolute;
  top: 81px;
  left: 30%;
  margin: 0 auto;
  width: 120px;
  font-size: 14px;
  background-color: green;
  outline: none;
  border: none;
}
